.row{
  border: 1px solid peru;
}
#banner-contenedor{
  height: 27rem;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  /*width: 100%;
  height: 100%;*/
  background: rgba(178,32,35,1);
  background: -moz-linear-gradient(left, rgba(178,32,35,1) 0%, rgba(239,61,49,1) 33%, rgba(36,51,123,1) 73%, rgba(34,30,81,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(178,32,35,1)), color-stop(33%, rgba(239,61,49,1)), color-stop(73%, rgba(36,51,123,1)), color-stop(100%, rgba(34,30,81,1)));
  background: -webkit-linear-gradient(left, rgba(178,32,35,1) 0%, rgba(239,61,49,1) 33%, rgba(36,51,123,1) 73%, rgba(34,30,81,1) 100%);
  background: -o-linear-gradient(left, rgba(178,32,35,1) 0%, rgba(239,61,49,1) 33%, rgba(36,51,123,1) 73%, rgba(34,30,81,1) 100%);
  background: -ms-linear-gradient(left, rgba(178,32,35,1) 0%, rgba(239,61,49,1) 33%, rgba(36,51,123,1) 73%, rgba(34,30,81,1) 100%);
  background: linear-gradient(to right, rgba(178,32,35,1) 0%, rgba(239,61,49,1) 33%, rgba(36,51,123,1) 73%, rgba(34,30,81,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22023', endColorstr='#221e51', GradientType=1 );
}



#titulo-contenedor{
     
      

}

.titulo{
    background: rgba(255, 255, 255, 0.85);
}

#detalle-contenedor{
  height: 10rem;
}